@font-face {
    font-family: 'MV Typewriter';
    src: url('https://siyamex.github.io/dhivehifont/mvtyper.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'MV Typewriter', sans-serif !important;
  }